body {
    background-color: #1B386E;
}

#title {
    font-size: 3.5em;
    text-align: center;
    margin: 100px;
}

#title-text {
    font-size: 1.8em;
    margin-top: 40px;
    margin-bottom: 40px;
}


.parag{
    font-size: 1.3em;
}

.parag2{
    margin-top: 100px;
    font-size: 1em;
}